@model TrashCollector.Models.Billing

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recurring)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.IsBillDue)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recurring)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.IsBillDue)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
