@model IEnumerable<TrashCollector.Models.Billing>

@{
    ViewBag.Title = "Index";
}

<h2>Billing</h2>
<div class="jumbotron-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h2>Billing Address</h2>
            <p>
                @Html.ActionLink("Create New", "Create", "Addresses")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address.BillingAddress.IsBillingAddress)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address.BillingAddress.Equals(true))
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Addresses", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", "Addresses", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", "Addresses", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>

        <div class="col-sm-3">
            <h2>Credit Card</h2>
            <p>
                @Html.ActionLink("Create New", "Create", "Credit_Card")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreditCard.Provider)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreditCard)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Credit_Card", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", "Credit_Card", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", "Credit_Card", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-sm-3">
            <h2>Recurring Charge</h2>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Recurring)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recurring)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
        <div class="col-sm-3">
            <h2>Bill Due</h2>
            <p>
                @Html.ActionLink("Details", "Details")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IsBillDue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsBillDue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recurring)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recurring)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
