@model IEnumerable<TrashCollector.Models.Billing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="jumbotron-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h2>Billing Information</h2>
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Recurring)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recurring)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>

        <div class="col-sm-4">
            <h2>Billing Information</h2>
            <p>Update current billing information and check existing bills</p>
            <p><a class="btn btn-default" @Html.ActionLink("Billing Information", "Index", "Billings")</a></p>
        </div>
        <div class="col-sm-4">
            <h2>Pickup Schedule</h2>
            <p>Check pickup scheudle, change vacation notice, and more!!</p>
            <p><a class="btn btn-default" @Html.ActionLink("Pickup Information", "Index", "Pickup_Times")</a></p>
        </div>
    </div>
</div>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Recurring)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Recurring)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
