@model IEnumerable<TrashCollector.Models.Pickup_Times>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vacation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VacationEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EveryWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EveryOtherWeek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vacation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacationStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VacationEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EveryWeek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EveryOtherWeek)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
