@model TrashCollector.Models.Credit_Card

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Credit_Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Full_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exp_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exp_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
